
form(action="/todos/create", method="POST")
  input(type="text", name="text") 
  button Thêm

form(action="/todos", method="GET")
  input(type="text", name="q", value=temp)
  button Tìm Kiếm

ul
  each val in todos
    li= val.text